html {
    margin: 0 auto;
    z-index: 1;
    background-color: rgba(248, 221, 184, 0.2);
}

.table-section {
    width: 80%;
}

table {
    width: 80%;
    font-size: 25px;
    margin: 0 auto;
}

tbody tr {
    border-bottom: 20px solid rgb(0, 0, 0);
    transition-duration: 0.2s;
}

tbody tr:hover {
    background-color: burlywood;
    transform: scale(1.1);
    cursor: pointer;
}





/* LOADING */
#loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff0c7;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.lds-dual-ring {
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

