/* html {
    padding: 0;
    margin: 0;
} */

#team-name {
    position: fixed;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    top: 0;
    left: 0;
    margin: 20px;
}

#team-photo {
    width: 100%;
    position: absolute;
    top: 0;
}

#info-fading-in {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    width: 50%;
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 20px;
}

#team-website {
    z-index: 1;
    transition: all 0.2s ease-out 0s
}
#team-website-tag {
    text-decoration: none;
    color: black;
}
#team-website:hover {
    transform: scale(1.1);
}

#team-logo {
    height: 40vh;
    padding-bottom: 5vh;
    object-fit: scale-down;
}


#players-part {
    display: flex;
} 

#players {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Gemunu Libre', sans-serif;
    width: 50%;
}

.player-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.player-col h3 {
    padding: 0;
    margin: 0;
}

#team-photo-2 {
    margin: 0;
    width: 50%;
}





#matches-part {
    display: flex;
}

#team-photo-3 {
    margin: 0;
    width: 50%;
}
#matches {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Roboto Mono', monospace;
    width: 50%;
}

.fixture {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fixture-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo-and-name {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-and-name img {
    width: 70%;
}

.scoreline {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scoreline h1 {
    margin: 0 auto;
    font-size: 60px;
}


.arena {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.date {
    display: flex;
    justify-content: center;
}


/* LOADING */
#loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #c7e1ff;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.lds-dual-ring {
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

